PORT="${{NATS_HTTP_PORT}}"
SERVER_NAME="${{RAILWAY_SERVICE_NAME}}"
NATS_HOST="0.0.0.0"
NATS_PORT="4222"
NATS_HTTP_PORT="8222"
NATS_CLUSTER_LISTEN="0.0.0.0:6222"
CLUSTER_NAME="cluster"
JETSTREAM_STORE_DIR="${{RAILWAY_VOLUME_MOUNT_PATH}}/jetstream"

NATS_AUTH_TOKEN="${{nats-1.NATS_AUTH_TOKEN}}"
NATS_CLUSTER_AUTH_USER="${{nats-1.NATS_CLUSTER_AUTH_USER}}"
NATS_CLUSTER_AUTH_PASSWORD="${{nats-1.NATS_CLUSTER_AUTH_PASSWORD}}"
NATS_TLS_CA_CERT_PEM="${{nats-1.NATS_TLS_CA_CERT_PEM}}"
NATS_TLS_CA_KEY_PEM="${{nats-1.NATS_TLS_CA_KEY_PEM}}"

CLUSTER_ROUTES_SEED_PRIMARY="nats://${{NATS_CLUSTER_AUTH_USER}}:${{NATS_CLUSTER_AUTH_PASSWORD}}@${{nats-1.RAILWAY_PRIVATE_DOMAIN}}:6222"
CLUSTER_ROUTES_SEED_SECONDARY="nats://${{NATS_CLUSTER_AUTH_USER}}:${{NATS_CLUSTER_AUTH_PASSWORD}}@${{nats-3.RAILWAY_PRIVATE_DOMAIN}}:6222"

CLUSTER_URL="tls://${{NATS_AUTH_TOKEN}}@${{nats-1.RAILWAY_PRIVATE_DOMAIN}}:4222,tls://${{NATS_AUTH_TOKEN}}@${{RAILWAY_PRIVATE_DOMAIN}}:4222,tls://${{NATS_AUTH_TOKEN}}@${{nats-3.RAILWAY_PRIVATE_DOMAIN}}:4222"
